<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <table class="table">
        <tr>
            <th>Card number</th>
            <th>Card type</th>
        </tr>
        <tr th:each="credit_card : ${credit_cards}">
            <td th:text="${credit_card.getCardNumber()}">number</td>
            <td th:text="${credit_card.getCardType()}">type</td>

            <td><a th:href="@{/bank/credit_card/{id}(id=${credit_card.getId()})}"
                   th:text="${credit_card.getCardNumber() + ' ' + credit_card.getCardType()}">card</a>
            </td>
        </tr>
    </table>

</div>
<div>
    <table class="table">
        <tr>
            <th>Card number</th>
            <th>Card type</th>
        </tr>
        <tr th:each="debit_card : ${debit_cards}">
            <td th:text="${debit_card.getCardNumber()}">number</td>
            <td th:text="${debit_card.getCardType()}">type</td>

            <td><a th:href="@{/bank/debit_card/{id}(id=${debit_card.getId()})}"
                   th:text="${debit_card.getCardNumber() + ' ' + debit_card.getCardType()}">card</a>
            </td>
        </tr>
    </table>

</div>

<form th:action="@{/card/credit/{id}(id=${client.getId()})}" method="get">
    <input type="submit" value="Оформить кредитную карту"/>
</form>
<form th:action="@{/card/debit/{id}(id=${client.getId()})}" method="get">
    <input type="submit" value="Оформить дебетовую карту"/>
</form>
</body>
<footer>
    <div th:insert="~{fragments/footer :: footer}"></div>
</footer>
</html>
