<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Регистрация</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <form class="form-narrow form-horizontal" th:action="@{/admin}" th:fragment="saveEmployee" th:method="POST"
          th:object="${saveEmployee}">
        <th:block th:if="${#fields.hasErrors('${saveEmployee.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Проверьте правильность заполнения полей.')">
                Alert
            </div>
        </th:block>
        <fieldset>
            <legend>Регистрация нового работника</legend>

            <div class="form-group" th:classappend="${#fields.hasErrors('surname')}? 'has-error'">
                <label class="col-lg-2 control-label" for="surname">Фамилия</label>
                <div class="col-lg-10">
                    <input class="form-control" id="surname" placeholder="Фамилия" th:field="*{surname}"
                           type="text"/>
                    <span class="help-block" th:errors="*{surname}" th:if="${#fields.hasErrors('surname')}">Incorrect surname</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                <label class="col-lg-2 control-label" for="name">Имя</label>
                <div class="col-lg-10">
                    <input class="form-control" id="name" placeholder="Имя" th:field="*{name}"
                           type="text"/>
                    <span class="help-block" th:errors="*{name}"
                          th:if="${#fields.hasErrors('name')}">Incorrect name</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('secondName')}? 'has-error'">
                <label class="col-lg-2 control-label" for="secondName">Отчество</label>
                <div class="col-lg-10">
                    <input class="form-control" id="secondName" placeholder="Отчество" th:field="*{secondName}"
                           type="text"/>
                    <span class="help-block" th:errors="*{secondName}" th:if="${#fields.hasErrors('secondName')}">Incorrect secondName</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('position')}? 'has-error'">
                <table class="table-hover">
                    <caption>Позиция в компании:</caption>
                    <tr th:each="position : ${positions}">
                        <th>
                            <input class="form-horizontal col" id="position" th:field="*{position}"
                                   th:text="${position}" th:value="${position}" type="radio">
                            <span class="help-block" th:errors="*{position}" th:if="${#fields.hasErrors('position')}">Incorrect position</span>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('position')}? 'has-error'">
                <table class="table-view">
                    <caption>Выберите роль:</caption>
                    <tr th:each="role : ${roles}">
                        <td>
                            <input class="form-horizontal col" id="role" th:field="*{role}" th:text="${role}"
                                   th:value="${role}" type="radio">
                            <span class="help-block" th:errors="*{role}" th:if="${#fields.hasErrors('role')}">Incorrect role</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
                <label class="col-lg-2 control-label" for="username">Логин</label>
                <div class="col-lg-10">
                    <input class="form-control" id="username" placeholder="Логин" th:field="*{username}" type="text"/>
                    <span class="help-block" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Incorrect username</span>
                    <span style="color: red" th:if="${usernameError != null}" th:text="${usernameError}">er</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                <label class="col-lg-2 control-label" for="password">Пароль</label>
                <div class="col-lg-10">
                    <input class="form-control" id="password" placeholder="Пароль" th:field="*{password}" type="text"/>
                    <span class="help-block" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Incorrect password</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-default" type="submit">Зарегистрировать</button>
                </div>
            </div>
        </fieldset>

    </form>

</div>
</body>
<script>
    document.getElementById("position").setAttribute("checked", "checked")
    // document.querySelectorAll('[value="ROLE_EMPLOYEE"]')[0].setAttribute("checked","checked")
    document.querySelector('[value="ROLE_EMPLOYEE"]').setAttribute("checked", "checked")

</script>
</html>