<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employers</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <table class="table">
        <caption>О клиенте</caption>
        <tr>
            <th>ID</th>
            <th>Position</th>
            <th>Employee</th>
        </tr>
        <tr th:each="employee : ${employers}">
            <td th:text="${employee.getId()}">id</td>
            <td th:text="${employee.getPosition().name()}">position</td>
            <td><a th:href="@{/employee/{id}(id=${employee.getId()})}"
                   th:text="${employee.getSurname() + ' ' + employee.getName() + ' ' +  employee.getSecondName()}">employee</a>
            </td>
        </tr>
    </table>
</div>
</body>
<footer>
    <div th:insert="~{fragments/footer :: footer}"></div>
</footer>
</html>
