<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Edit</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">

    <table class="table">
        <caption>Информация о клиенте <p th:text="${client.getUsername()}"></p></caption>
        <tr>
            <th>Клиент ID</th>
            <td th:text="${client.getId()}"></td>
        </tr>
        <tr>
            <th>Имя</th>
            <td th:text="${client.getName()}"></td>
        </tr>
        <tr>
            <th>Фамилия</th>
            <td th:text="${client.getSurname()}"></td>
        </tr>
        <tr>
            <th>Отчество</th>
            <td th:text="${client.getSecondName()}"></td>
        </tr>
        <tr>
            <th>Дата рождения</th>
            <td th:text="${client.getDateOfBirth()}"></td>
        </tr>
        <tr>
            <th>Номер паспорта</th>
            <td th:text="${client.getPassportNumber()}"></td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td th:text="${client.getEmail()}"></td>
        </tr>
    </table>
</div>
</body>
<footer>
    <div th:insert="~{fragments/footer :: footer}"></div>
</footer>
</html>