<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Clients</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <table class="table">
        <caption>О клиенте</caption>
        <tr>
            <th>ID</th>
            <th>Client</th>
        </tr>
        <tr th:each="client : ${clients}">
            <td th:text="${client.getId()}">id</td>
            <td><a th:href="@{/users/{id}(id=${client.getId()})}"
                   th:text="${client.getSurname() + ' ' + client.getName() + ' ' +  client.getSecondName()}">client</a>
            </td>
        </tr>
    </table>
</div>
</body>
<footer>
    <div th:insert="~{fragments/footer :: footer}"></div>
</footer>
</html>
