<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Edit</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <p id="client-text">Client #<a th:text="${client.getId()}">v</a></p>

    <a th:href="@{/bank/{id}(id=${client.getId()})}">Карты клиента</a>

    <form th:action="@{/users/{id}(id=${client.getId()})}" th:method="POST" th:object="${client}">
        <div>
            <label for="name">Name: </label>
            <input id="name" placeholder="Имя" th:field="*{name}" type="text"/>
            <p style="color: red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Error name</p>
        </div>
        <div>
            <label for="surname">Surname: </label>
            <input id="surname" placeholder="Фамилия" th:field="*{surname}" type="text"/>
            <p style="color: red" th:errors="*{surname}" th:if="${#fields.hasErrors('surname')}"></p>
        </div>
        <div>
            <label for="secondName">Second name: </label>
            <input id="secondName" placeholder="Отчество" th:field="*{secondName}" type="text"/>
            <p style="color: red" th:errors="*{secondName}" th:if="${#fields.hasErrors('secondName')}">Error second
                name</p>
        </div>
        <div>
            <label for="dateOfBirth">Birthday: </label>
            <input id="dateOfBirth" placeholder="Дата рождения" th:field="*{dateOfBirth}" type="text"/>
            <p style="color: red" th:errors="*{dateOfBirth}" th:if="${#fields.hasErrors('dateOfBirth')}">Error
                dateOfBirth</p>
        </div>
        <div>
            <label for="email">E-mail: </label>
            <input id="email" placeholder="Email" th:field="*{email}" type="text"/>
            <p style="color: red" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Error email</p>
        </div>
        <div>
            <label for="passportNumber">Passport Number: </label>
            <input id="passportNumber" placeholder="Номер паспорта" th:field="*{passportNumber}" type="text">
            <p style="color: red" th:errors="*{passportNumber}" th:if="${#fields.hasErrors('passportNumber')}">Error
                passport
                number</p>
        </div>
        <div>
            <table class="table">
                <caption>Роль клиента</caption>
                <tr>
                    <th>Client</th>
                </tr>
                <tr th:each="role : ${roles}">
                    <td>
                        <input id="role" th:text="${role}" type="radio">
                    </td>
                </tr>
            </table>
        </div>

        <input name="Edit" type="submit"/>
    </form>
</div>
</body>
<footer>
    <div th:insert="~{fragments/footer :: footer}"></div>
</footer>
<script>
    document.getElementById("role").setAttribute("checked", "checked")
</script>
</html>
