<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Credit card</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <form class="form-narrow form-horizontal"
          th:action="@{/card/request_credit_card/{id}(id=${client.getId()})}"
          th:method="POST"
          th:object="${request_credit_card}">

        <th:block th:if="${#fields.hasErrors('${request_credit_card.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Проверьте правильность заполнения полей.')">
                Alert
            </div>
        </th:block>

        <fieldset>
            <legend>Пожалуйста, заполните форму для оформления кредитной карты</legend>

            <div class="col">
                <input class="form-control" id="name" name="username" th:value="${#authentication.name}" type="hidden"/>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('amount')}? 'has-error'">
                <label class="col-lg-2 control-label" for="amount">Необходимая сумма кредита</label>
                <div class="col-lg-10">
                    <input class="form-control" id="amount" placeholder="установить сумму кредита" th:field="*{amount}"
                           type="text"/>
                    <span class="help-block" th:errors="*{amount}" th:if="${#fields.hasErrors('amount')}">Incorrect Amount</span>
                </div>
            </div>
            <div>

            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-default" type="submit">Подать заявку</button>
                </div>
            </div>

        </fieldset>

    </form>
</div>
</body>
</html>
