<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Credit card</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <form th:action="@{/card/credit/{id}(id=${client.getId()})}"
          th:method="POST"
          th:object="${credit_card}">

        <div>
            <label for="limitOnCredit"></label>
            <input id="limitOnCredit" th:field="*{limitOnCredit}" type="text">
            <p style="color: red" th:errors="*{limitOnCredit}" th:if="${#fields.hasErrors('limitOnCredit')}">Error
                limitOnCredit</p>
        </div>
        <div>
            <table class="table">
                <caption>Условия</caption>
                <tr th:each="condition : ${conditions}">
                    <th>
                        <label for="conditions">Condition: </label>
                        <input id="conditions" th:field="*{conditions}" th:utext="${condition}" th:value="${condition}"
                               type="checkbox">
                        <p style="color: red" th:errors="*{conditions}" th:if="${#fields.hasErrors('conditions')}">Error
                            conditions</p>
                    </th>
                </tr>
            </table>
        </div>
        <div>
            <table class="table">
                <caption>Платёжная система</caption>
                <tr th:each="type : ${payment_system}">
                    <th>
                        <label for="type">Payment System: </label>
                        <input id="type" th:field="*{paymentSystem}" th:utext="${type}" th:value="${type}"
                               type="checkbox">
                        <p style="color: red" th:errors="*{paymentSystem}"
                           th:if="${#fields.hasErrors('paymentSystem')}">
                            Error
                            cardType</p>
                    </th>
                </tr>
            </table>
        </div>
        <input name="Оформить карту" type="submit"/>
    </form>
</div>
</body>
</html>
