<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Credit card</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <form class="form-narrow form-horizontal"
          th:action="@{/card/request_debit_card/{id}(id=${client.getId()})}"
          th:method="POST"
          th:object="${request_debit_card}">

        <th:block th:if="${#fields.hasErrors('${request_debit_card.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Проверьте правильность заполнения полей.')">
                Alert
            </div>
        </th:block>

        <fieldset>
            <legend>Пожалуйста, заполните форму для оформления дебитовой карты</legend>

            <div class="col">
                <input class="form-control" id="name" name="username" th:value="${#authentication.name}" type="hidden"/>
            </div>

            <div>
                <table class="table">
                    <caption>Платёжная система</caption>
                    <tr th:each="type : ${payment_system}">
                        <th>
                            <label for="type">Payment System: </label>
                            <input id="type" th:field="*{paymentSystem}" th:utext="${type}" th:value="${type}"
                                   type="radio">
                            <p style="color: red" th:errors="*{paymentSystem}"
                               th:if="${#fields.hasErrors('paymentSystem')}">Error cardType</p>
                        </th>
                    </tr>
                </table>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-default" type="submit">Подать заявку</button>
                </div>
            </div>

        </fieldset>

    </form>
</div>
</body>
</html>