<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Debit Card</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <form th:action="@{/card/debit/{id}(id=${client.getId()})}"
          th:method="POST"
          th:object="${debit_card}">
        <div>
            <label for="amount">Amount: </label>
            <input id="amount" th:field="*{amount}" type="text"/>
            <p style="color: red" th:errors="*{amount}" th:if="${#fields.hasErrors('amount')}">Error amount</p>
        </div>
        <div>
            <table class="table">
                <caption>Бонусная система</caption>
                <tr th:each="bonus : ${bonuses}">
                    <th>
                        <label for="bonus">Bonus: </label>
                        <input id="bonus" th:field="*{bonus}" th:text="${bonus}" th:value="${bonus}"
                               type="checkbox">
                        <p style="color: red" th:errors="*{bonus}" th:if="${#fields.hasErrors('bonus')}">Error bonus</p>
                    </th>
                </tr>
            </table>
        </div>
        <div>
            <table class="table">
                <caption>Платёжная система</caption>
                <tr th:each="type : ${payment_system}">
                    <th>
                        <label for="type">Payment System: </label>
                        <input id="type" th:field="*{paymentSystem}" th:utext="${type}" th:value="${type}"
                               type="checkbox">
                        <p style="color: red" th:errors="*{paymentSystem}"
                           th:if="${#fields.hasErrors('paymentSystem')}">
                            Error
                            cardType</p>
                    </th>
                </tr>
            </table>
        </div>

        <input name="Оформить карту" type="submit" value="Оформить карту"/>
    </form>
</div>
</body>
</html>
