<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>History</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <table class="table">
        <caption>История переводов</caption>
        <tr>
            <th>Тип перевода</th>
            <th>Дата</th>
            <th>С карты:</th>
            <th>На карту:</th>
            <th>Сумма</th>
        </tr>
        <tr th:each="history : ${histories}">
            <td th:text="${history.getTransactionType()}"></td>
            <td th:text="${history.getDateTime()}"></td>
            <td th:text="${history.getSenderCardNumber()}"></td>
            <td th:text="${history.getRecipientCardNumber()}"></td>
            <td th:text="${history.getAmount()}"></td>
        </tr>
    </table>
</div>
</body>
<footer>
    <div th:insert="~{fragments/footer :: footer}"></div>
</footer>
</html>