<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <table class="table">
        <caption>Мои Кредитные карты</caption>

        <tr>
            <th>Card number</th>
            <th>Card type</th>
        </tr>
        <tr th:each="credit_card : ${credit_cards}">
            <div th:if="${credit_card.getStatusCard().name() == 'DRAFT' || credit_card.getStatusCard().name() == 'ACTIVE'}">
                <td th:text="${credit_card.getCardNumber()}">number</td>
                <td th:text="${credit_card.getCardType()}">type</td>

                <td><a th:href="@{/bank/credit_card/{id}(id=${credit_card.getId()})}"
                       th:text="${credit_card.getStatusCard()}">card</a>
                </td>
            </div>
        </tr>

    </table>


</div>
<br/>
<div class="container">
    <table class="table">
        <caption>Мои Дебитовые карты</caption>
        <tr>
            <th>Card number</th>
            <th>Card type</th>
        </tr>
        <tr th:each="debit_card : ${debit_cards}">
            <td th:text="${debit_card.getCardNumber()}">number</td>
            <td th:text="${debit_card.getCardType()}">type</td>

            <td><a th:href="@{/bank/debit_card/{id}(id=${debit_card.getId()})}"
                   th:text="${debit_card.getStatusCard()}">card</a>
            </td>
        </tr>
    </table>

</div>
<div class="container">
    <form method="get" th:action="@{/card/request_credit_card/{id}(id=${client.getId()})}">
        <input type="submit" value="Оформить кредитную карту"/>
    </form>
    <br/>
    <form method="get" th:action="@{/card/request_debit_card/{id}(id=${client.getId()})}">
        <input type="submit" value="Оформить дебетовую карту"/>
    </form>
</div>

<div class="container">
    <table class="table">
        <caption>Мои запросы</caption>
        <tr>
            <th>ID</th>
            <th>Дата запроса</th>
            <th>Статус</th>
        </tr>
        <tr th:each="request : ${client_request}">
            <td th:text="${request.getId()}">number</td>
            <td th:text="${request.getDateRequest()}">type</td>
            <td th:text="${request.getRequestStatus().getStatus()}">type</td>

        </tr>
    </table>
</div>
</body>
<footer>
    <div th:insert="~{fragments/footer :: footer}"></div>
</footer>
</html>
