<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <table class="table">
        <caption>Банк</caption>
        <tr>
            <th>Мои средства</th>
            <td th:text="${account.getAmount()}"></td>
        </tr>
        <tr>
            <th>Лицевой счет</th>
            <td th:text="${account.getBankAccountNumber()}"></td>
        </tr>
    </table>
</div>
<div class="container">
    <a href="bank.html" th:href="@{/bank/{id}(id=${client.getId()})}">Мои карты</a>
</div>
</body>
<footer>
    <div th:insert="~{fragments/footer :: footer}"></div>
</footer>
</html>