<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <p id="client-text">КРЕДИТНАЯ КАРТА: <a th:text="${credit_card.getCardNumber()}">v</a></p>


    <table class="table">
        <caption>Платёжная система</caption>
        <tr>
            <th>Платёжная система:</th>
            <td th:text="${credit_card.paymentSystem}">-</td>
        </tr>
    </table>

    <div class="credit">
        <table class="table">
            <caption>Кредитная карта</caption>
            <tr>
                <th th:text="${credit_card.conditions}"></th>
                <td th:text="${credit_card.conditions.percentCredit}"></td>
            </tr>
            <tr>
                <th>Лимит по кредиту:</th>
                <td th:text="${credit_card.limitOnCredit}"></td>
            </tr>
        </table>
    </div>
    <div th:if="${credit_card.getStatusCard() == card_status}">
        <form th:action="@{/bank/credit/change/accept/{id}(id=${credit_card.getId()})}"
              th:method="POST"
              th:object="${credit_card}">

            <input name="Согласиться" type="submit" value="Согласиться"/>
        </form>
        <br/>
        <form th:action="@{/bank/credit/change/denied/{id}(id=${credit_card.getId()})}"
              th:method="POST"
              th:object="${credit_card}">

            <input name="Отказаться" type="submit" value="Отказаться"/>
        </form>
    </div>

</div>
</body>
</html>
