<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <p id="client-text">ДЕБИТОВАЯ КАРТА: <a th:text="${debit_card.getCardNumber()}">v</a></p>


    <table class="table">
        <caption>Платёжная система</caption>
        <tr>
            <th>Платёжная система:</th>
            <td th:text="${debit_card.paymentSystem}">-</td>
        </tr>
    </table>

    <div class="credit">
        <table class="table">
            <caption>Кредитная карта</caption>
            <tr>
                <th th:text="${debit_card.bonus}"></th>
                <td th:text="${debit_card.bonus.bonusPoint}"></td>
            </tr>
            <tr>
                <th>Остаток средств по карте:</th>
                <td th:text="${debit_card.amount}"></td>
            </tr>
        </table>
    </div>
    <div class="container">
        <div th:if="${#authorization.expression('hasRole(''ROLE_CLIENT'')')}">
            <a href="/transfer" th:href="@{/transfer/{id}(id=${debit_card.getId()})}">Совершить перевод</a>
        </div>

        <br/>
        <a href="/history" th:href="@{/history/{id}(id=${debit_card.getId()})}">История переводов</a>
    </div>

</div>
</body>
</html>
