<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Перевод</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
    <div class="container">
        <form class="form-narrow form-horizontal" th:action="@{/transfer/{id}(id=${debit_card})}"
              th:fragment="transferCard" th:method="POST" th:object="${transferCard}">

            <th:block th:if="${#fields.hasErrors('${transferCard.*}')}">
                <div th:replace="fragments/alert :: alert (type='danger', message='Проверьте правильность заполнения полей.')">
                    Alert
                </div>
            </th:block>

            <fieldset>
                <legend>Укажите номер карты</legend>

                <label class="col-md-1 col-lg-1 control-label" for="name">Пользователь</label>
                <div class="col-lg-7">
                    <input class="form-control" id="name" type="text" th:value="${#authentication.name}">
                </div>
                <label class="col-lg-1 control-label" for="cardNumber">Номер карты</label>
                <div class="col-lg-7">
                    <input class="form-control" id="cardNumber" placeholder="Номер карты" th:field="*{cardNumber}"
                           type="text"/>
                    <span class="help-block" th:errors="*{cardNumber}" th:if="${#fields.hasErrors('cardNumber')}">Incorrect cardNumber</span>
                </div>
                <label class="col-lg-1 control-label" for="amount">Сумма перевода</label>
                <div class="col-lg-5">
                    <input class="form-control" id="amount" placeholder="Сумма перевода" th:field="*{amount}"
                           type="text"/>
                    <span class="help-block" th:errors="*{amount}" th:if="${#fields.hasErrors('amount')}">Incorrect amount</span>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-default" type="submit">Перевести</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</body>
</html>