<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <p id="client-text">Request # <a th:text="${request_credit_card.getId()}">id req</a></p>
    <br/>
    <a th:href="@{/users/user_info/{id}(id=${client.getId()})}">Информация о клиенте</a>
    <br/>

    <form th:action="@{/operator/request/debit/{id}(id=${request_credit_card.getId()})}"
          th:method="POST"
          th:object="${debit_card_form}">

        <div>
            <label for="amount">Установить начальный баланс</label>
            <input id="amount" th:field="*{amount}" type="text">
            <p style="color: red" th:errors="*{amount}" th:if="${#fields.hasErrors('amount')}">Error amount</p>
        </div>
        <div>
            <table class="table">
                <caption>Бонусная система</caption>
                <tr th:each="bonus : ${bonuses}">
                    <th>
                        <label for="bonus">Bonus: </label>
                        <input id="bonus" th:field="*{bonus}" th:text="${bonus}" th:value="${bonus}"
                               type="radio">
                        <p style="color: red" th:errors="*{bonus}" th:if="${#fields.hasErrors('bonus')}">Error bonus</p>
                    </th>
                </tr>
            </table>
        </div>

        <div>
            <table class="table">
                <caption>Платёжная система</caption>
                <tr th:each="type : ${payment_system}">
                    <th>
                        <label for="type">Payment System: </label>
                        <input id="type" th:field="*{paymentSystem}" th:utext="${type}" th:value="${type}"
                               type="radio">
                        <p style="color: red" th:errors="*{paymentSystem}"
                           th:if="${#fields.hasErrors('paymentSystem')}">Error cardType</p>
                    </th>
                </tr>
            </table>
        </div>

        <div class="col">
            <input class="form-control" id="name" name="username" th:value="${client.getUsername()}" type="hidden"/>
        </div>

        <input type="submit" value="Отправить предложение"/>

    </form>
    <form th:action="@{/operator/request/denied/{id}(id=${request_credit_card.getId()})}"
          th:method="POST">
        <input type="submit" value="Отказать"/>
    </form>
</div>

</body>
<script>
    document.getElementById("type").setAttribute("checked", "checked")
    document.getElementById("bonus").setAttribute("checked", "checked")
</script>
</html>