<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <p id="client-text">Request # <a th:text="${request_credit_card.getId()}">id req</a></p>
    <br/>
    <a th:href="@{/users/user_info/{id}(id=${client.getId()})}">Информация о клиенте</a>
    <br/>
    <p th:text="${request_credit_card.getAmount()} + 'руб. желаемая сумма кредита'"></p>
    <br/>
    <form th:action="@{/operator/request/credit/{id}(id=${request_credit_card.getId()})}"
          th:method="POST"
          th:object="${credit_card_form}">

        <div>
            <label for="limitOnCredit">Установить лимит по кредиту</label>
            <input id="limitOnCredit" th:field="*{limitOnCredit}" type="text">
            <p style="color: red" th:errors="*{limitOnCredit}" th:if="${#fields.hasErrors('limitOnCredit')}">Error
                limitOnCredit</p>
        </div>
        <div>
            <table class="table">
                <caption>Условия</caption>
                <tr th:each="condition : ${conditions}">
                    <th>
                        <label for="conditions">Condition: </label>
                        <input id="conditions" th:field="*{conditions}"
                               th:text="${condition + '  ' + condition.getPercentCredit() + '%'}"
                               th:value="${condition}"
                               type="radio">
                        <p style="color: red" th:errors="*{conditions}" th:if="${#fields.hasErrors('conditions')}">Error
                            conditions</p>
                    </th>
                </tr>
            </table>
        </div>
        <div>
            <table class="table">
                <caption>Платёжная система</caption>
                <tr th:each="type : ${payment_system}">
                    <th>
                        <label for="type">Payment System: </label>
                        <input id="type" th:field="*{paymentSystem}" th:utext="${type}" th:value="${type}"
                               type="radio">
                        <p style="color: red" th:errors="*{paymentSystem}"
                           th:if="${#fields.hasErrors('paymentSystem')}">Error cardType</p>
                    </th>
                </tr>
            </table>
        </div>

        <div class="col">
            <input class="form-control" id="name" name="username" th:value="${client.getUsername()}" type="hidden"/>
        </div>

        <input type="submit" value="Отправить предложение"/>

    </form>
    <form th:action="@{/operator/request/denied/{id}(id=${request_credit_card.getId()})}"
          th:method="POST">
        <input type="submit" value="Отказать"/>
    </form>
</div>

</body>
<script>
    document.getElementById("type").setAttribute("checked", "checked")
    document.getElementById("conditions").setAttribute("checked", "checked")
</script>
</html>