<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <table class="table">
        <caption>Запрос одобрения кредитной карты</caption>
        <tr>
            <th>ID Запроса</th>
            <th>Дата формирования запроса</th>
            <th>STATUS</th>
            <th>Сумма запроса</th>
        </tr>
        <tr th:each="request : ${request_credit_cards}">
            <div th:if="${request.getRequestStatus().name() == 'IN_WORK'}">
                <td th:text="${request.getId()}">id</td>
                <td th:text="${request.getDateRequest()}">date</td>
                <td th:text="${request.getRequestStatus().getStatus()}">status</td>

                <td><a th:href="@{/operator/request/{id}(id=${request.getId()})}"
                       th:text="${request.getCardType()}"></a></td>
            </div>
        </tr>
    </table>
</div>
</body>
<footer>
    <div th:insert="~{fragments/footer :: footer}"></div>
</footer>
</html>