<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Перевод</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <form class="form-narrow form-horizontal" th:action="@{/transfer/{id}(id=${debit_card_id})}"
          th:fragment="transferCard" th:method="POST" th:object="${transferCard}">

        <th:block th:if="${#fields.hasErrors('${transferCard.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Проверьте правильность заполнения полей.')">
                Alert
            </div>
        </th:block>

        <fieldset>
            <legend>Укажите номер карты</legend>

            <div class="col">
                <input class="form-control" id="name" name="username" th:value="${#authentication.name}" type="hidden"/>
            </div>
            <label class="col control-label" for="cardOrBankAccountNumber">Номер карты</label>
            <div class="col">
                <input class="form-control" id="cardOrBankAccountNumber" placeholder="Номер карты или лицевого счета"
                       th:field="*{cardOrBankAccountNumber}"
                       type="text"/>
                <span class="help-block" th:errors="*{cardOrBankAccountNumber}"
                      th:if="${#fields.hasErrors('cardOrBankAccountNumber')}">Incorrect cardOrBankAccountNumber</span>
            </div>
            <label class="col control-label" for="amount">Сумма перевода</label>
            <div class="col">
                <input class="form-control" id="amount" placeholder="Сумма перевода" th:field="*{amount}"
                       type="text"/>
                <span class="help-block" th:errors="*{amount}"
                      th:if="${#fields.hasErrors('amount')}">Incorrect amount</span>
            </div>
            <br/>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-default" type="submit">Перевести</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
</body>
</html>