<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Вход в систему</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <form action="#" class="form-narrow form-horizontal" method="POST" th:action="@{/authenticate}">
        <th:block th:if="${param.error != null}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Ошибка входа. Попробуйте еще раз.')">
                Alert
            </div>
        </th:block>
        <fieldset>
            <legend>Пожалуйста, войдите!</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="username">Логин</label>
                <div class="col-lg-10">
                    <input class="form-control" id="username" name="username" placeholder="Username" type="text"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputPassword">Пароль</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputPassword" name="password" placeholder="Password"
                           type="password"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-default" type="submit">Войти</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <p>Впервые у нас? Зарегистрируйся: <a href="/registration"
                                                          th:href="@{/registration}">Зарегистрироваться</a></p>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>