<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Регистрация</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <form class="form-narrow form-horizontal"
          th:action="@{/registration}" th:fragment="userForm"
          th:method="POST"
          th:object="${userForm}">

        <th:block th:if="${#fields.hasErrors('${userForm.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Проверьте правильность заполнения полей.')">
                Alert
            </div>
        </th:block>
        <fieldset>
            <legend>Пожалуйста, зарегистрируйтесь!</legend>
            <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
                <label class="col-lg-2 control-label" for="username">Username</label>
                <div class="col-lg-10">
                    <input class="form-control" id="username" placeholder="username" th:field="*{username}"
                           type="text"/>
                    <span class="help-block" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Incorrect username</span>
                    <span style="color: red" th:if="${usernameError != null}" th:text="${usernameError}">er</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                <label class="col-lg-2 control-label" for="password">Password</label>
                <div class="col-lg-10">
                    <input class="form-control" id="password" placeholder="password" th:field="*{password}"
                           type="text"/>
                    <span class="help-block" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Incorrect password</span>
                    <span style="color: red" th:if="${passwordError != null}" th:text="${passwordError}">er</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error'">
                <label class="col-lg-2 control-label" for="confirmPassword">Confirm your password</label>
                <div class="col-lg-10">
                    <input class="form-control" id="confirmPassword" placeholder="confirm password"
                           th:field="*{confirmPassword}"
                           type="text"/>
                    <span class="help-block" th:errors="*{confirmPassword}"
                          th:if="${#fields.hasErrors('confirmPassword')}">Incorrect confirmPassword</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                <label class="col-lg-2 control-label" for="name">Name</label>
                <div class="col-lg-10">
                    <input class="form-control" id="name" placeholder="name" th:field="*{name}" type="text"/>
                    <span class="help-block" th:errors="*{name}"
                          th:if="${#fields.hasErrors('name')}">Incorrect name</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('surname')}? 'has-error'">
                <label class="col-lg-2 control-label" for="surname">Surname</label>
                <div class="col-lg-10">
                    <input class="form-control" id="surname" placeholder="surname" th:field="*{surname}" type="text"/>
                    <span class="help-block" th:errors="*{surname}" th:if="${#fields.hasErrors('surname')}">Incorrect surname</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('secondName')}? 'has-error'">
                <label class="col-lg-2 control-label" for="secondName">Second Name</label>
                <div class="col-lg-10">
                    <input class="form-control" id="secondName" placeholder="second name" th:field="*{secondName}"
                           type="text"/>
                    <span class="help-block" th:errors="*{secondName}" th:if="${#fields.hasErrors('secondName')}">Incorrect secondName</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('dateOfBirth')}? 'has-error'">
                <label class="col-lg-2 control-label" for="dateOfBirth">Date Of Birth</label>
                <div class="col-lg-10">
                    <input class="form-control" id="dateOfBirth" placeholder="01.01.2000" th:field="*{dateOfBirth}"
                           type="text"/>
                    <span class="help-block" th:errors="*{dateOfBirth}" th:if="${#fields.hasErrors('dateOfBirth')}">Incorrect dateOfBirth</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                <label class="col-lg-2 control-label" for="email">Email</label>
                <div class="col-lg-10">
                    <input class="form-control" id="email" placeholder="yourEmail@gmail.com" th:field="*{email}"
                           type="text"/>
                    <span class="help-block" th:errors="*{email}"
                          th:if="${#fields.hasErrors('email')}">Incorrect email</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('passportNumber')}? 'has-error'">
                <label class="col-lg-2 control-label" for="passportNumber">Passport Number</label>
                <div class="col-lg-10">
                    <input class="form-control" id="passportNumber" placeholder="33 33 333333"
                           th:field="*{passportNumber}"
                           type="text"/>
                    <span class="help-block" th:errors="*{passportNumber}"
                          th:if="${#fields.hasErrors('passportNumber')}">Incorrect passportNumber</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-default" type="submit">Зарегистрироваться</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <p>Уже зарегистрирован? <a href="/login" th:href="@{/login}">Sign In</a></p>
                </div>
            </div>
        </fieldset>

    </form>

</div>
</body>
</html>