<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" media="screen" rel="stylesheet" th:href="@{/resources/css/core.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <p id="client-text">Request # <a th:text="${fraud_request.getId()}">id req</a></p>
    <br/>
    <a th:href="@{/bank/debit_card/{id}(id=${fraud_request.getDebitCardSender().getId()})}">Информация о карте
        отправителя</a>
    <table class="table">
        <caption>Информация о переводе</caption>
        <tr>
            <th>Id</th>
            <th>Сумма перевода</th>
            <th>Статус</th>
            <th>лицевой счет/номер карты получателя</th>
        </tr>
        <tr>
            <th th:text="${fraud_request.getId()}">id</th>
            <th th:text="${fraud_request.getAmountTransaction()}">id</th>
            <th th:text="${fraud_request.getRequestStatus()}">id</th>
            <th th:text="${fraud_request.getCardOrBankAccountNumberRecipient()}">id</th>
        </tr>
    </table>
    <form th:action="@{/operator/request/fraud/accept/{id}(id=${fraud_request.getId()})}"
          th:method="POST">
        <input type="submit" value="Принять"/>
    </form>
    <br/>
    <form th:action="@{/operator/request/fraud/denied/{id}(id=${fraud_request.getId()})}"
          th:method="POST">
        <input type="submit" value="Отказать"/>
    </form>
</div>

</body>
</html>