<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SBER</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${module == 'home' ? 'active' : ''}">
                    <a href="#" th:href="@{/}">Home</a>
                </li>
                <li th:classappend="${module == 'bank' ? 'active' : ''}">
                    <a href="#" th:href="@{/bankHome}">Bank</a>
                </li>
<!--                <li th:classappend="${module == 'tasks-ld' ? 'active' : ''}">-->
<!--                    <a href="#" th:href="@{/task-ld}">Tasks (Layout Dialect)</a>-->
<!--                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/login" th:href="@{/login}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Войти
                    </a>
                </li>
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/registration" th:href="@{/registration}">
                         <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Зарегистрироваться
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <p th:text="${#authentication.name}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true" ></span>
                    </p>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Выйти
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>