<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>alert</title>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<div class="alert alert-dismissable" th:assert="${!#strings.isEmpty(type) and !#strings.isEmpty(message)}"
     th:classappend="'alert-' + ${type}" th:fragment="alert (type, message)">
    <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
    <span th:text="${message}">Test</span>
</div>
</body>
</html>
