<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head title="Footer">
    <title>Footer</title>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<div th:align="center" th:fragment="footer">
    &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2022</span>
    <span>Все права защищены </span>
</div>
<div th:align="center" th:fragment="footer-admin">
    &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2022</span>
    <span>Все права защищены </span><span th:text="${@environment.getProperty('app.version')}"></span>
</div>
</body>
</html>

