<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>header</title>
    <link href="../../../resources/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".nav-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:href="@{/}">SBER</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${module == 'home' ? 'active' : ''}"
                    th:if="${#authorization.expression('hasRole(''ROLE_CLIENT'')')}">
                    <a href="/" th:href="@{/}">Home</a>
                </li>
                <li th:classappend="${module == 'bank' ? 'active' : ''}"
                    th:if="${#authorization.expression('hasRole(''ROLE_CLIENT'')')}">
                    <a href="/bank" th:href="@{/bank}">Bank</a>
                </li>
                <li th:classappend="${module == 'admin' ? 'active' : ''}"
                    th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a href="/admin" th:href="@{/admin}">New Employee</a>
                </li>
                <li th:classappend="${module == 'users' ? 'active' : ''}"
                    th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a href="/users" th:href="@{/users}">Users</a>
                </li>
                <li th:classappend="${module == 'employee' ? 'active' : ''}"
                    th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a href="/employers" th:href="@{/employers}">Employers</a>
                </li>
                <li th:classappend="${module == 'request' ? 'active' : ''}"
                    th:if="${#authorization.expression('hasRole(''ROLE_EMPLOYEE'')')}">
                    <a href="/operator" th:href="@{/operator}">In work</a>
                </li>
                <li th:classappend="${module == 'request' ? 'active' : ''}"
                    th:if="${#authorization.expression('hasRole(''ROLE_EMPLOYEE'')')}">
                    <a href="/operator" th:href="@{/operator/done}">Done</a>
                </li>
                <li th:classappend="${module == 'request' ? 'active' : ''}"
                    th:if="${#authorization.expression('hasRole(''ROLE_EMPLOYEE'')')}">
                    <a href="/operator" th:href="@{/operator/request/fraud}">Fraud</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/login" th:href="@{/login}">
                        <span aria-hidden="true" class="glyphicon glyphicon-log-in"></span>&nbsp;Войти
                    </a>
                </li>
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/registration" th:href="@{/registration}">
                        <span aria-hidden="true" class="glyphicon glyphicon-log-in"></span>&nbsp;Зарегистрироваться
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a th:text="${#authentication.name}">
                        <span aria-hidden="true" class="glyphicon glyphicon-log-out"></span>
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" onclick="$('#form').submit();" th:href="@{/logout}">
                        <span aria-hidden="true" class="glyphicon glyphicon-log-out"></span>&nbsp;Выйти
                    </a>
                    <form action="/logout" id="form" method="post" style="visibility: hidden"
                          th:action="@{/logout}"></form>
                </li>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>